@import "tailwindcss";

:root {
  --background: #eff4f3;
  --foreground: #171717;
  --font-sans: 'Montserrat', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace; /* Define the custom property */
  --primary: #3490dc; /* Example primary color */
  --secondary: #3cc6d8; /* Example secondary color */
  --destructive: #e3342f; /* Example destructive color */
  --danger: #dc2626; /* Example danger color */
  --accent: #a3caf4; /* Example accent color */
  --theme: #4a90e2; /* Example theme color */
  --primary-foreground: #fff; /* Set this based on your design */
  --success: #10b981;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #1d4ed8; /* Dark mode primary color */
  --secondary: #3cc6d8; /* Dark mode secondary color */
  --destructive: #dc2626; /* Dark mode destructive color */
  --accent: #60a5fa; /* Dark mode accent color */
  --danger: #ef4444; /* Dark mode danger color */
  --theme: #2563eb; /* Dark mode theme color */
  --primary-foreground: #ddd; /* Adjust for dark mode */
  --success: #10b981;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-danger {
  background-color: var(--danger);
}

.bg-success{
  background-color: var(--success);
}

.bg-outline-primary {
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.bg-primary:hover {
  background-color: var(--secondary);
}


.bg-secondary {
  background-color: var(--secondary);
}

.bg-destructive {
  background-color: var(--destructive);
}

.text-primary-foreground {
  color: var(--primary-foreground) !important;
}

.bg-accent {
  background-color: var(--accent);
}

.bg-theme {
  background-color: var(--theme);
}

button {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.hover-color:hover {
  background-color: var(--theme); /* Change to your desired hover color */
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans); /* Apply the new font family */
}